{% extends "main/base.html" %}

{% block content %}

<nav class="navbar navbar-expand-md my-3">
    {% if search == 'customer' %}
    <div class="navbar-nav ml-auto">
        <a href="{% url 'home' %}" class="nav-item nav-link">Все</a>
        <a href="/search/customer" class="nav-item nav-link" style="color: #106dff;">Поиск заказчика</a>
        <a href="/search/consultant" class="nav-item nav-link">Поиск консультанта</a>
        <a href="/search/performer" class="nav-item nav-link">Поиск исполнителя</a>
        <a href="/search/partner" class="nav-item nav-link">Поиск напарника</a>
    </div>
    {% elif search == 'consultant' %}
    <div class="navbar-nav ml-auto">
        <a href="{% url 'home' %}" class="nav-item nav-link">Все</a>
        <a href="/search/customer" class="nav-item nav-link">Поиск заказчика</a>
        <a href="/search/consultant" class="nav-item nav-link" style="color: #106dff;">Поиск консультанта</a>
        <a href="/search/performer" class="nav-item nav-link">Поиск исполнителя</a>
        <a href="/search/partner" class="nav-item nav-link">Поиск напарника</a>
    </div>
    {% elif search == 'performer' %}
    <div class="navbar-nav ml-auto">
        <a href="{% url 'home' %}" class="nav-item nav-link">Все</a>
        <a href="/search/customer" class="nav-item nav-link">Поиск заказчика</a>
        <a href="/search/consultant" class="nav-item nav-link">Поиск консультанта</a>
        <a href="/search/performer" class="nav-item nav-link" style="color: #106dff;">Поиск исполнителя</a>
        <a href="/search/partner" class="nav-item nav-link">Поиск напарника</a>
    </div>
    {% elif search == 'partner' %}
    <div class="navbar-nav ml-auto">
        <a href="{% url 'home' %}" class="nav-item nav-link">Все</a>
        <a href="/search/customer" class="nav-item nav-link">Поиск заказчика</a>
        <a href="/search/consultant" class="nav-item nav-link">Поиск консультанта</a>
        <a href="/search/performer" class="nav-item nav-link">Поиск исполнителя</a>
        <a href="/search/partner" class="nav-item nav-link" style="color: #106dff;">Поиск напарника</a>
    </div>
    {% else %}
    <div class="navbar-nav ml-auto">
        <a href="{% url 'home' %}" class="nav-item nav-link" style="color: #106dff;">Все</a>
        <a href="/search/customer" class="nav-item nav-link">Поиск заказчика</a>
        <a href="/search/consultant" class="nav-item nav-link">Поиск консультанта</a>
        <a href="/search/performer" class="nav-item nav-link">Поиск исполнителя</a>
        <a href="/search/partner" class="nav-item nav-link">Поиск напарника</a>
    </div>
    {% endif %}
</nav>

{% if request.user.is_authenticated and not cards %}
<div class="col-lg-5 mt">
    <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
        <div class="alert">
            Здесь пока ничего нет
        </div>
    </div>
</div>
{% else %}
{% for card in cards %}
<div class="col-lg-7">
    <div class="card shadow-lg border-0 rounded-lg mt-2 mb-4">
        <div class="card-header">
            <h3 class="font-weight-light my-2">{{ card.title }}</h3>
        </div>
        <div class="card-body">
            <div class="col-md-10 mb-1">
                <div>
                    <label class="small">Тип заявки:</label>
                </div>
                <label class="mb-1">{{ card.get_type_of_card }}</label>
            </div>
            <hr>
            <div class="col-md-10 mb-1">
                <div>
                    <label class="small">Область:</label>
                </div>
                <label class="mb-1">{{ card.get_field_of_card }}</label>
            </div>
            <hr>
            <div class="col-md-10 mb-1">
                <div>
                    <label class="small text-break">Образ продукта:</label>
                </div>
                <label class="mb-1">{{ card.product_image }}</label>
            </div>
            <hr>
            <div class="col-md-10 mb-1">
                <div>
                    <label class="small">Поиск:</label>
                </div>
                {% for item in card.get_search_for %}
                <div>
                    <label>{{ item }}</label>
                </div>
                {% endfor %}
            </div>
            <hr>
            <div class="col-md-10">
                <label class="small">{{ card.created_on }}</label>
            </div>
            <div class="col-md-10 mb-1">
                <label class="small mb-1">@{{ card.user }}</label>
            </div>
            {% if card.user.profile.telegram_username or card.user.profile.vk_username %}
            <hr>
            <div class="col-md-10 mb-1">
                {% if card.user.profile.telegram_username %}
                <label class="small mb-1">TG: <a href="https://t.me/{{ card.user.profile.telegram_username }}"
                                                 target="_blank">@{{ card.user.profile.telegram_username }}</a></label>
                {% endif %}
                {% if card.user.profile.vk_username %}
                <label class="small mb-1">VK: <a href="https://vk.me/{{ card.user.profile.vk_username }}"
                                                 target="_blank">@{{ card.user.profile.vk_username }}</a></label>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}
